<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/css/show.css">
    <script>
        const mapToken = "<%= process.env.MAP_TOKEN %>";
        const coordinates = "<%- JSON.stringify(listing.geometry.coordinates) %>"; // Make sure it's an array like [lng, lat]
    </script>       

    <body>
        <div class="row mt-4 mb-5">
            <div class="col-md-8 offset-md-2 col-10 offset-1">
                <h1 class="mb-3">
                    <%= listing.title %>
                </h1>
                <img src="<%= listing.image.url %>" class="card-img-top show-img mb-2" alt="listing-image">
                <div class="card-body">
                    <p class="card-text"><b><i>
                                <%= listing.owner.username %>
                            </i></b></p>
                    <p class="card-text">
                        <%= listing.description %>
                    </p>
                    <p class="card-text"><b>&#8377;<%= listing.price.toLocaleString("en-IN") %></b></p>
                    <p class="card-text">
                        <%= listing.location %>
                    </p>
                    <p class="card-text mb-2">
                        <%= listing.country %>
                    </p>


                    <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
                        <div class="btn-grp mb-3">
                            <a href="/listing/<%= listing._id %>/edit">
                                <button class="btn btn-danger mb-2" style="width: 5rem;"><i
                                        class="fa-regular fa-pen-to-square"></i>&nbsp;&nbsp;Edit</button>
                            </a>
                            <form method="POST" action="/listing/<%= listing._id %>?_method=DELETE">
                                <button class="btn btn-danger" style="width: 6.5rem;"><i <i
                                        class="fa-solid fa-trash-arrow-up"></i>&nbsp;Delete</button>
                            </form>
                        </div>
                        <% } %>

                </div>

                <a href="/listing">
                    <button class="btn btn-danger back" style="width: 12.5rem;"><i
                            class="fa-regular fa-circle-left back-i"></i>&nbsp;Back</button>
                </a>

                <!-- review section -->
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-8 offset-md-2 col-10 offset-1">
                <% if(currUser) { %>
                    <div class="review">
                        <form action="/listing/<%= listing._id %>/review" method="POST" novalidate
                            class="needs-validation">

                            <label for="rating" class="form-label">Rating:</label>
                            <fieldset class="starability-slot">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                    checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>

                            <!-- Comment -->
                            <div class="mb-4">
                                <label for="comment" class="form-label">Comment</label>
                                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                                    required></textarea>
                                <div class="invalid-feedback">
                                    Please add a comment for your review.
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-danger">
                                <i class="fa-solid fa-circle-plus"></i>
                                Add Review
                            </button>
                        </form>
                    </div>
                    <% } %>

                        <!-- Reviews Container -->
                        <div class="reviews-container">
                            <% for (let review of listing.review) { %>
                                <div class="review-card">
                                    <!-- Review Card Content -->
                                    <div class="review-content">
                                        <!-- Review Details -->
                                        <div class="review-details">
                                            <div class="review-header">
                                                <h5><b>
                                                        <%= review.author.username %>
                                                    </b>
                                                </h5>

                                                <!-- Review Rating -->
                                                <div class="review-rating mb-3">
                                                    <strong>Rating:</strong>

                                                    <p class="starability-result card-text"
                                                        data-rating="<%= review.rating %>">
                                                        Rated: 3 stars
                                                    </p>
                                                </div>

                                                <strong>Comment:</strong>
                                                <div class="review-comment-wrapper"
                                                    id="review-comment-wrapper-<%= review._id %>">
                                                    <p class="review-comment" id="review-comment-<%= review._id %>">
                                                        <%= review.comment %>
                                                    </p>
                                                </div>
                                                <% if (review.comment.length> 150) { %>
                                                    <div class="see-more" id="see-more-<%= review._id %>">
                                                        <button class="see-more-btn"
                                                            onclick="toggleReview('<%= review._id %>')">See
                                                            More</button>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>

                                        <!-- Delete Button -->
                                        <div class="delete-btn-container">
                                            <form method="POST"
                                                action="/listing/<%= listing._id %>/review/<%= review._id %>?_method=DELETE"
                                                class="d-inline">
                                                <button type="submit" class="delete-btn" title="Delete Review">
                                                    <i class="fa-solid fa-trash-arrow-up"></i> Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
            </div>
        </div>

        <!-- mapbox location -->
        <div class="row mb-5">
            <div class="col-md-8 offset-md-2 col-10 offset-1">
                <h3>Where you'll be</h3>
                <div id="map"></div>
                
            </div>
        </div>

        <script src="/js/map.js"></script>
    </body>